.container {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.leftContainer, .rightContainer, .upContainer, .downContainer, .centerContainer {
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.65;
    backdrop-filter: blur(4px);
    transition: all 0.5s ease;
}

.leftContainer {
    left: 0;
    top: 50px;
}

.rightContainer {
    right: 0;
    top: 50px;
}

.upContainer {
    left: 50px;
    top: 0;
}

.downContainer {
    left: 50px;
    bottom: 0;
}

.centerContainer {
    left: 50px;
    bottom: 50px;
}

.leftContainer:active *, .rightContainer:active *, .upContainer:active *, .downContainer:active * {
    transform: scale(0.95);
    transition: all 0.2s ease;
  }